.sideBar-menu{
    position: relative;
    background-color: var(--light);
    height: 100vh;
    padding: 1.5rem;
    color: var(--darker-green);
    display: inline-flex;
    flex-direction: column;
    z-index: 9; 
}

.sideBar-menu .close{
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer;
}

.sideBar-menu .close:hover{
    filter: invert(29%) sepia(55%) saturate(343%) hue-rotate(81deg) brightness(90%) contrast(90%);
}

.sideBar-menu .container-logo{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.sideBar-menu .nav-links{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    margin-top: 2rem;
}

.nav-links .selected{
    font-family: interRegular;
    font-size: 20px;
    color: var(--black);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.nav-links .selected{
    transition-property: color, backgroud-colo, fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.nav-links .selected:hover{
    filter: invert(29%) sepia(55%) saturate(343%) hue-rotate(81deg) brightness(90%) contrast(90%);
    color: var(--green-hover);
}


