{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static '../static/frontend/assets/css/pages/Home/home.css' %}" />
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({
        key: "",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
      });
    </script>
    <script src="{% static '../static/frontend/js/Home.js' %}"></script>
  </head>
  <body>
    
    <main class="bg-main">
      <div class="layout-container">
        <aside class="sideBar-menu">
          <a href="" class="container-logo">
            <img
              src="{% static '../static/frontend/assets/imgs/Logo.svg' %}"
              alt="RecyclingMap"
              width="200"
              height="75"
            />
          </a>
          <ul class="nav-links">
            <li>
              <a href="#" class="selected">
                <img
                  src="{% static '../static/frontend/assets/imgs/saves.svg' %}"
                  alt="Saves"
                  width="20"
                  height="25"
                />
                <span class="nav-text">Salvos</span>
              </a>
            </li>
            <li>
              <a href="#" class="selected">
                <img
                  src="{% static '../static/frontend/assets/imgs/recently.svg' %}"
                  alt="Recently"
                  width="22"
                  height="22"
                />
                <span class="nav-text">Recentes</span>
              </a>
            </li>
            <li>
              <div class="selected" onclick="LocalAddModal()">
                <img
                  src="{% static '../static/frontend/assets/imgs/add_new.svg' %}"
                  alt="Add New Local"
                  width="22"
                  height="22"
                />
                <span class="nav-text">Adicionar novos locais</span>
              </div>
            </li>
          </ul>
        </aside>
        <section class="main-content">
            <div class="navigationBar">
              <div class="search-bar">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                    <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                </svg>
                <input placeholder="Buscar por tipo de resíduo ou endereço" type="search" class="input">
            </div>
              <div class="container-user" onclick="UserModal()">
                <div class="user-image">
                    <img src="{% static '../static/frontend/assets/imgs/user-image.png' %}" alt="User-Image" />
                </div>
              </div>
            </div>
            <div class="user-modal" id="userModal">
              <div class="user-modal-content">
                <p>Olá, Diego Bloemer!</p>
                <div id="user-modal-icone">
                  <img src="{% static '../static/frontend/assets/imgs/icone-user-modal.svg' %}" alt="Ícone do Usuário">
                </div>
                <div class="logout-btn">
                  <a href="{% url 'logout' %}">
                    <img src="{% static '../static/frontend/assets/imgs/logout_icon.svg' %}" alt="Logout Icon">
                    <div>
                      <span>Sair</span>
                    </div>
                  </a>
                </div>
                <div id="user-modal-logo">
                  <img src="{% static '../static/frontend/assets/imgs/Logo.svg' %}" alt="Logo">
                </div>
              </div>
            </div>
            <div id="LocalAddModal">
              <form class="localAddform" id="localForm" method="post" action="{% url 'adicionar_local' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="title">Adicione um local</p>
                <div id="form">
                  <label>
                    <input class="input" type="text" name="name" placeholder="" required="">
                    <span>Nome *</span>
                </label>
                  <div class="flex">
                        <label>
                            <input class="input" type="text" name="latitude" placeholder="" required="">
                            <span>Latitude *</span>
                        </label>
                        <label>
                            <input class="input" type="text" name="longitude" placeholder="" required="">
                            <span>Longitude *</span>
                        </label>
                    </div>
                    <label>
                        <input class="input" type="text" name="endereco" placeholder="" required="">
                        <span>Endereço *</span>
                    </label>
                    <label>
                      <select class="input" name="tipo_residuo" required="">
                          {% for tipo in tipos_residuos %}
                          <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                          {% endfor %}
                      </select>
                      <span>Tipo de Resíduo *</span>
                  </label>
                    <div class="file-form">
                        <label for="file-input" class="file-drop-container">
                            <span class="file-drop-title">Arraste os arquivos aqui</span>
                            ou
                            <input type="file" accept="image/png,image/jpeg" name="imagens" multiple required="" id="file-input">
                        </label>
                    </div>
                    <div class="submit-container">
                        <button class="submit" type="submit">Enviar</button>
                    </div>
                </div>
            </form>            
            </div>
            <div id="map"></div>
      </div>
    </main>
    <script src="{% static '../static/frontend/js/Modais.js' %}"></script>
  </body>
</html>